<div class="bg-gray-50 dark:bg-gray-900">

  <div class="profile-container">
    <div >
      <p-button routerLink="/" icon="pi pi-home" label="go Back"/>  
    </div>
    <div class="profile-card">
      <div class="profile-header reletive">
        <img [src]="preview || (user.avatar? baseApi +  user.avatar :'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&s' ) 
            
          " alt="User Avatar" class="avatar" />
        @if (isEditing) {<fa-icon (click)="AvatarClick()"
          class="text-blue-500 !texr-xs absolute right-28 bottom-12 border bg-white py-1 px-1 rounded-full cursor-pointer"
          [icon]="faPen" />}


        <input type="file" #fileInput hidden accept="images/*" (change)="selectedFile($event)">

        <h2>{{ user.name }}</h2>
        <p class="role">
          {{ user.roles }} @if(!isEditing){<fa-icon (click)="editUser()" class="text-blue-500 cursor-pointer"
            [icon]="faPen" />}
        </p>
      </div>

      <div class="profile-body">
        <div class="form-group">
          <label>Full Name</label>
          <input pInputText type="text" [disabled]="!isEditing" [(ngModel)]="user.name" />
        </div>

        <div class="form-group">
          <label>Email</label>
          <input pInputText type="email" [disabled]="!isEditing" [(ngModel)]="user.email" />
        </div>

        <div class="form-group">
          <label>Role</label>
          <input pInputText type="text" disabled [(ngModel)]="user.roles" />
        </div>
        @if (isEditing) {
        <button pButton type="button" (click)="saveChanges()" class="save-btn">Save Changes</button>
        }
      </div>
    </div>
  </div>
</div>