.profile-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(12px);
}

.profile-card {
  width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem 2rem 2rem 2rem;
  animation: fadeIn 0.6s ease-in-out;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #007ad9;
  margin-bottom: 8px;
  object-fit: cover;
}

.role {
  color: #666;
  font-size: 0.9rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  color: #333;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

input {
  padding: 5px;
  border: 1px solid #00b4d8;
  border-radius: 5px;
  width: 100%;
  outline-color: #00b4d8;
}

input:disabled {
  border: 1px dashed black !important;
}

.save-btn {
  width: 100%;
  border-radius: 12px;
  background: linear-gradient(90deg, #007ad9, #00b4d8);
  border: none;
  color: white !important;
  padding: 0.9rem;
  font-size: 1rem;
  box-shadow: 0 6px 20px rgba(0, 122, 217, 0.4);
  transition: 0.3s ease;
  cursor: pointer;
}

.save-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 180, 216, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
